@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Catamaran:wght@200&family=Kalam&family=Merienda+One&family=Nanum+Myeongjo&family=Satisfy&family=Vidaloka&display=swap');

/* Nav bar on every page */
#logo-white {
    display: block;
    margin-left: auto;
    margin-right: auto;
    Width: 185px;
    height: 115px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

ul {
    list-style-type: none;
    background-color: #a4b69e;
    padding: 20px;
    text-align: center; 
    
}
li {
    display: inline-block;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: 'Arapey', serif;
    margin-left: 15px;
    margin-right: 15px;
    
}
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #28412a;
    text-decoration: underline;
}
/* .left-nav1 {
    float: left;
    font-size: 20px;
    font-family: 'Arapey', serif;
    padding-bottom: 15px;
    padding-left: 70px;

} 
.left-nav2 {
    float: left;
    font-size: 20px;
    font-family: 'Arapey', serif;
    padding-bottom: 15px;
    margin-left: 15px;
} 
.right-nav1 {
    float: right;
    font-size: 20px;
    font-family: 'Arapey', serif;
    margin-left: 15px;
    padding-right: 50px;
} 
.right-nav2 {
    float: right;
    font-size: 20px;
    font-family: 'Arapey', serif;
    
}  */

/* Home page Code */
header {
    background-color: #fef7ec;
}
#hero-home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    Width: 1425px;
    height: 480px;
}
#home-tagline {
   background-color: #fef7ec;
   padding: 20px;
}
#home-tagtext {
    text: #000000;
    text-align: center;
    font-size: 30px; 
    font-family: 'Vidaloka', serif;
}
#today {
    text-align: center;
    font-size: 20px;
    font-family: 'Arapey', serif;
}
.grid-container {
    display:grid;
    grid-template-columns: 405px 405px 405px;
    grid-template-rows: 399px 50px;
    column-gap: 20px;
    row-gap: 10px;
    background-color: #A4B69E;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}
.grid-container > div {
    text-align: center;
    font-size: 20px;
    background-color: #A4B69E;  
}
.grid-item:hover {
    color: #28412a;
    text-decoration: underline;
}

#item4, #item5, #item6 {
    border-style: solid;
    border-width: 1px;
    padding-top: 13px;
    box-shadow: 5px 10px 15px #888888;
    font-family: 'Nanum Myeongjo', serif;
}
.image-grid {
  width: 399px;
  height: 399px;
  margin: none;
  box-shadow: 5px 10px 15px #888888;
}

/* Footer on Every page */
#logo-grey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    Width: 185px;
    height: 115px;
}
footer {
    background-color: #565656;
}
.footer-text {
    text-align: center;
    padding-bottom: 30px;
    margin-top:0px;
    color: white;
    font-family: 'Arapey', serif;
}
#fa{
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

/* About page code */
.about-hero-grid {
    display:grid;
    grid-template-columns: 475px 475px 475px;
    grid-template-rows: 360px;
    background-color: #fef7ec;
    column-gap: none;
}
  .hero-grid-items {
    background-color: #a4b69e;
    width: 475px;
    height: 360px;
}
  .herogrid {
    width: 475px;
    height: 360px;
    margin: none;
}
#about-founder {
    background-color: #28412a;
}
.founder-photo {
    margin-left: 40px;
    margin-right: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
}
#why-text {
    color: white;
    width: 400px;
    display: inline-block;
    float: right;
    padding-right: 60px;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    line-height: 1.4; 
    font-family: 'Arapey', serif;
}

/* about page-mission/location */
.about-grid-container {
    display:grid;
    grid-template-columns: 400px 550px;
    grid-template-rows: 340px;
    column-gap: 80px;
    row-gap: 10px;
    background-color: #fef7ec;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
  }
.about-grid-items {
    text-align: center;
    font-size: 20px;
    background-color: #fef7ec;
}
#part3 {
    border-style: solid;
    border-width: 1px;
}
#location-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    line-height: 1.4;
}
#mission, #location {
    font-size: 20px;
}
#about-middle-hero {
    width: 1425px;
    height: 480px;
}

/* About-Staff */
#staff-title {
    background-color: #fef7ec;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
.staff-grid-container {
    display:grid;
    grid-template-columns: 500px 500px ;
    grid-template-rows: 300px 300px 300px 300px;
    column-gap: 5px;
    row-gap: 5px;
    background-color: #fef7ec; 
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}
  .staff-grid-items {
    text-align: center;
    font-size: 20px;
    background-color: #a4b69e;
    border-style: solid;
    border-width: 1px;
}
  #mission-text, #location-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    line-height: 1.4;
}
  .bio {
    font-size: 20px;
    margin: 20px;
    padding-top: 40px;
}
  .staffimg {
    width: 450px;
    height: 300px;
}

/* Accom page code */

#accom-hero {
    background-color: #fef7ec;
    
}
#windows {
    width: 1425px;
    height: 600px;
    background-color: #fef7ec;
}
#hero-text {
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: 30px;
    padding-bottom: 30px;
}
.services-grid-container {
    display:grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 350px 350px 350px 350px 350px;
    column-gap: 0px;
    row-gap: 5px;
    background-color: #fef7ec; 
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
  }
  .services-grid-items {
    text-align: center;
    font-size: 20px;
    background-color: #a4b69e;
    /* border-style: solid;
    border-width: 1px; */
  }
  .info {
    font-size: 20px;
    margin: 20px;
    padding-top: 60px;
  }
  .servimg {
    width: 500px;
    height: 350px;
  }
  #s3, #s4, #s7, #s8 {
      background-color: #28412a;
      color: white;
  }


/* Contact page code */

#hero-contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    Width: 1420px;
    height: 480px;
    /* Width: 600px;
    height: 250px; */
}
#contact-tagline {
    background-color: #a4b69e;
    padding: 25px;
}
#contact-tagtext {
    color: #28412a;
    text-align: center;
    font-size: 35px;
}
#contact-moreinfo {
    background-color: #28412a;
    padding-top: 25px;
    padding-bottom: 5px;
}
#moreinfo-text {
    color: white;
    text-align: center;
    font-size: 25px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}
input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}
input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}
#form {
  position: relative;
  width: 500px;
  margin: 50px auto 50px auto;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
input:hover {
  background: #b3aca7;
  color: #e2dedb;
}
textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}
#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}
#submit:hover {
  color: #e2dedb;
}
